<header class="header">
  <div class="container">

    <div class="header__block">
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
  
      <a href="./index.html" class="header__logo-link">
        <svg class="header__logo">
          <use xlink:href="./img/sprite.svg#icon"></use>
        </svg>
      </a>

      <nav class="header-nav" data-menu>
        <ul class="list-reset header-nav__list">
          <li class="header-nav__item"><a href="#" class="header-nav__link">About</a></li>
          <li class="header-nav__item"><a href="#" class="header-nav__link">Portfolio</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>
