<section class="hero">
  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide">
          <picture>
            <source srcset="https://www.russiadiscovery.ru/storage/orig/posts/1038/Kavkazskie_gory.jpg" type="image/webp">
            <img loading="lazy" src="https://www.russiadiscovery.ru/storage/orig/posts/1038/Kavkazskie_gory.jpg" class="hero__img" alt="Картинка">
          </picture>
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source srcset="https://www.russiadiscovery.ru/storage/orig/posts/1038/Altaiskie_gory.jpg" type="image/webp">
            <img loading="lazy" src="https://www.russiadiscovery.ru/storage/orig/posts/1038/Altaiskie_gory.jpg" class="hero__img" alt="Картинка">
          </picture>
        </div>
        <div class="swiper-slide hero__slide">
          <picture>
            <source srcset="https://www.russiadiscovery.ru/storage/orig/posts/1038/Plato%20Putorana%281%29.jpg" type="image/webp">
            <img loading="lazy" src="https://www.russiadiscovery.ru/storage/orig/posts/1038/Plato%20Putorana%281%29.jpg" class="hero__img" alt="Картинка">
          </picture>
        </div>
    </div>
     <!-- If we need pagination -->
    <div class="swiper-pagination hero__pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev arrow-btn hero__btn hero__btn--prev"></div>
    <div class="swiper-button-next arrow-btn hero__btn hero__btn--next"></div>
  </div>
</section>
